.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 40vh;
    margin: auto;
    background-color: rgb(232, 227, 227);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 20%;
    background-color: rgb(198, 201, 201);
    border-radius: 15px;
}

.imgcard {
    width: 80%;
}

.priceBefore {
    text-decoration: line-through;
}

.priceAfter {
    color : darkred;
    font-size: large;
    font-weight: bold;
}